@font-face{
    font-family: NewFont;
    src: url("US101.TTF");
    font-weight: bold;
}
::-webkit-scrollbar {
    display: none;
}
.Title{
    margin-left: 1em;
    padding-left: 0px;
    padding-bottom: 0.5em;
}
.title{
    font-family: NewFont, sans-serif;
    font-size: 1.1em;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    float: left;
}
.title.page{
    font-size: 2em;
}
.parse{
    width:87%;
    height: 70px;
    color: #FFFFFF;
    background-color: #5C5C5C;
    text-align: center;
    border: 0;
    border-radius: 0.6rem!important;
}
.btnt{
    color: white;
}
.btnt:hover{
    color: red;
}
.btn-yid{
    --bs-btn-disabled-opacity:1;
    --bs-btn-bg:#93ba55;
    --bs-btn-border-color:#93ba55;
    --bs-btn-hover-bg:#89b04b;
    --bs-btn-hover-border-color:#89b04b;
    --bs-btn-active-bg:#6b922d;
    --bs-btn-active-border-color:#6b922d;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #orderAnalysismm::before{
    content: "伺服器連接失敗";
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 2em; 
    color: rgba(255, 255, 255, 0.9); 
    pointer-events: none;
} */