.grid-container{
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: #000000;
}
.grid{
    height: 40em;
    background-color: #504745;
    border-radius: 0.6rem!important;
    margin-bottom: 1em;
}
.grid-row{
    height: 100%;
    width: 100%;
}
.grid-title{
    font-size: 2.4em;
    color: #ceb8b8;
}
.grid-btns{
    height: 100%;
}
.grid-lists{
    height: 100%;
    align-items: start!important;
    overflow-x: auto;
}
/* #btns1{
    position: absolute;
    top: 20%;
    left: 26%;
}
#btns2{
    position: absolute;
    top: 50%;
    left: 16%;
}
#btns3{
    position: absolute;
    top: 50%;
    left: 46%;
} */
.grid-btn{
    background-color: #cab8b2;
    border: 1px black solid;
    height: 4em;
    width: 4em;
    margin: 0px;
}
.grid-btn.booked{
    background-color: #0985a7;
}
/* .grid-btn.mark{
    background-color: #dc0000;
} */
.grid-btn.occupied{
    background-color: #b6993a;
}
#modeOption{
    padding-top: 0.5%;
    padding-left: 3%;
    float:left;
}
#showOption{
    margin-top: 0.5%;
    margin-left: 1%;
    float:left;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-table{
    position: relative;
    margin: 1%;
}
.grid-btns #btns1::before{
    content: "Ａ"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns2::before{
    content: "B"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns3::before{
    content: "C"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns4::before{
    content: "D"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns9::before{
    content: "R"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 4em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
#gridList{
    transition: transform 3s ease;
}